<!doctype html>
<html>
<head>
    <title>Ideal</title>
</head>
<body bgcolor='FFFFCC'>
	<font size=4><div align='right'><a href='/logout'>logout</a></div></font>
	<center>
		<table border=0 bgcolor='FF6633'>
			<tr>
				<th>
					<table border=0 bgcolor='EEEEEE'>
						<tr>
							<th>name</th>
							<th>{{ info[0] }}</th>
						</tr>
						<tr>
							<th>sex</th>
							<th>{{ info[1] }}</th>
						</tr>
						<tr>
							<th>age</th>
							<th>{{ info[2] }}</th>
						</tr>
						<tr>
							<th>pay</th>
							<th>{{ info[3] }}</th>
						</tr>
						<tr>
							<th>introduction</th>
							<th>{{ info[4] }}</th>
						</tr>
					</table>
				</th>
			</tr>
			<tr>
				<th><a href='home/edit'>edit</a></th>
			</tr>
		</table>
	</center>

</body>
</html>