<!doctype html>
<html>
<head>
    <title>Ideal</title>
</head>
<body bgcolor='FFFFCC'>
	<center>
		<font color='000000' size=7>Welcome<br></font>	
		<form action='logging' method='POST'>
			<table border=0 bgcolor='EEEEEE'>
				<tr>
					<th>
						<table border=0 bgcolor='DDDDDD'>
							<tr>
								<th>account</th>
								<th><input type='text' name='account' /></th>
							</tr>
							<tr>
								<th>passward</th>
								<th><input type='PassWord' name='password' /></th>
							</tr>
						</table>
					</th>
					<th>
						<table border=0 bgcolor='EEEEEE'>
							<tr><th><a href='signUp'>Sign up</a></th></tr>
							<tr><th><input type='submit' value='ok' /></th></tr>
						</table>
					</th>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>
