<!doctype html>
<html>
<head>
    <title>Ideal</title>
</head>
<body bgcolor='FFFFCC'>
	<center>
		<form action='/home' method='POST'>
		<table border=0 bgcolor='DDDDDD'>
			<table border=0 bgcolor='EEEEEE'>
				<tr>
					<th>account</th>
					<th><input type='text' name='account' /></th>
				</tr>
				<tr>
					<th>password</th>
					<th><input type='password' name='password' /></th>
				</tr>
				<tr>
					<th>name</th>
					<th><input type='text' name='name'  /></th>
				</tr>
				<tr>
					<th>sex</th>
					<th><input type='text' name='sex'  /></th>
				</tr>
				<tr>
					<th>age</th>
					<th><input type='text' name='age'  /></th>
				</tr>
				<tr>
					<th>pay</th>
					<th><input type='text' name='pay'  /></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><input type='text' name='introduction'   /></th>
				</tr>
			</table>
				<tr>
					<th><input type='submit' value='ok' /></th>
				<tr>
		</table>
	</center>

</body>
</html>